@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Rowdies";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
#scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
}
.sect {
  height: 90vh;
}
.secta {
  height: 40vh;
  background: rgb(18, 225, 144);
  background: linear-gradient(
    0deg,
    rgba(18, 225, 144, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.sect1 {
  height: 90vh;
  background: rgb(18, 225, 144);
}
.sect1a {
  height: 40vh;
  background: rgb(46, 192, 236);
  background: linear-gradient(
    0deg,
    rgba(46, 192, 236, 1) 0%,
    rgba(18, 225, 144, 1) 100%
  );
}
.sect2 {
  height: 90vh;
  background: rgb(46, 192, 236);
}
.sect2a {
  height: 40vh;
  background: rgb(227, 82, 231);
  background: linear-gradient(
    0deg,
    rgba(227, 82, 231, 1) 0%,
    rgba(46, 192, 236, 1) 100%
  );
}
.sect3 {
  height: 90vh;
  background: rgb(227, 82, 231);
}
.sect3a {
  height: 40vh;
  background: rgb(241, 139, 6);
  background: linear-gradient(
    0deg,
    rgba(241, 139, 6, 1) 0%,
    rgba(227, 82, 231, 1) 100%
  );
}
.sect4 {
  height: 90vh;
  background: rgb(241, 139, 6);
}
.sect4a {
  height: 40vh;
  background: rgb(241, 226, 6);
  background: linear-gradient(
    0deg,
    rgba(241, 226, 6, 1) 0%,
    rgba(241, 139, 6, 1) 100%
  );
}
.sect5 {
  height: 90vh;
  background: rgb(241, 226, 6);
}
.sect5a {
  height: 40vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 226, 6, 1) 100%
  );
}
.sect6 {
  height: 90vh;
  background: rgb(255, 255, 255);
}

.sect7 {
  height: 10vh;
  background: #000000;
}
