/* @import url("static/nasalization-rg.otf"); */
@font-face {
  font-family: GTFlexa-Black;
  src: url("/images/GTFlexa-ExtendedBold.3ed81d0da892d30a8cd6106bd2f9d55a.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "GTFlexa-Black", sans-serif;
  scroll-behavior: smooth;
  background: white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Nav bar */
.container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.button {
  position: absolute;
  top: 4vh;
  right: 5vw;
  text-decoration: none;
  color: black;
  right: 100px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.menu {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;

  transform: translateX(-100%);
  z-index: 20;
}
.menu .button {
  color: white;
}

.icon {
  width: 37px;
  height: 25px;
}

.ul {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}
.ul li {
  margin: 20px 0;
  z-index: 2;
}
.ul li a {
  text-decoration: none;

  color: white;
  transition: 2s;
  font-family: "GTFlexa-Black", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  mix-blend-mode: difference;
}
.social {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 80px;
  width: 100%;
}
.social ul {
  margin-left: 50px;
  display: flex;
}
.social ul li {
  margin: 0px 15px;
}
.social ul li a {
  text-decoration: none;
  color: white;
  font-family: "GTFlexa-Black", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: lighter;
}
.bg {
  position: absolute;
  width: 250px;
  filter: grayscale(1);
  height: 300px;
  mix-blend-mode: difference;
}
.bg1 {
  top: 45px;
  left: 120px;
  background: url(/images/home.png) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.bg2 {
  top: 100px;
  left: 150px;
  background: url(/images/aboutus.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.bg3 {
  top: 250px;
  left: 200px;
  background: url(/images/Services.png) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.bg4 {
  top: 400px;
  left: 200px;
  background: url(/images/home.png) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.li1:hover ~ .bg1,
.li2:hover ~ .bg2,
.li3:hover ~ .bg3,
.li4:hover ~ .bg4 {
  opacity: 1;
  transform: translateY(0%);
  transition: 1s ease-in-out;
}
.ul li a:hover {
  transition: 2s;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-style: italic;
}

#scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
}
.logo {
  top: 0;
  left: 0;
}
.logo img {
  position: absolute;
  width: 70px;
  left: 6vw;
  top: 3vh;
}
#line {
  position: absolute;
  height: 1px;
  opacity: 0;
  display: flex;
  top: 9%;
  left: 5.5vw;
  background: rgb(236, 236, 236);
  width: 88vw;
}
.sect {
  height: 100vh;
  display: block;
}
.sect h1 {
  position: absolute;
  font-family: "GTFlexa-Black", sans-serif;
  font-size: 130px;
  display: flex;
  top: 30%;
  left: 5vw;
  z-index: 0;
}
#creative {
  position: absolute;
  font-family: "GTFlexa-Black", sans-serif;
  font-size: 130px;
  display: flex;
  top: 48%;
  left: 5vw;
  z-index: 0;
}
.colors {
  position: absolute;
  height: 10px;
  display: flex;
  top: 70%;
  left: 5vw;
  z-index: 0;
}
.green {
  background: rgb(18, 225, 144);
  width: 153px;
}

.blue {
  background: rgb(46, 192, 236);
  width: 306px;
}
.purple {
  background: rgb(227, 82, 231);
  width: 459px;
}
.orange {
  background: rgb(255, 157, 11);
  width: 612px;
}
.yellow {
  background: rgb(241, 226, 6);
  width: 765px;
}

/* .secta {
  height: 40vh;
  /* background: rgb(18, 225, 144);
  background: linear-gradient(
    0deg,
    rgba(18, 225, 144, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
/* } */
.sect1 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(18, 225, 144); */
}
.sect1-left {
  position: absolute;
  align-items: left;
  display: grid;
  color: white;
  left: 3vw;
}
.sect1-left h1 {
  font-size: 150px;
}
.sect1-left h2 {
  font-size: 40px;
  color: "white";
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: -24px;
  margin-left: 5px;
}
.sect1-left div {
  font-size: 22px;
  margin-left: 5px;
}
.line1 {
  position: absolute;
  left: 3vw;
  top: 150%;
  width: 400px;
  height: 50px;
  color: white;
  z-index: 1;
}
.sect1-right {
  position: absolute;
  align-items: right;
  display: grid;
  right: 0;
  color: white;
  margin-top: 500px;
  font-size: 22px;
}
.sect1-right {
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .sect1a {
  height: 40vh;
  /* background: rgb(46, 192, 236);
  background: linear-gradient(
    0deg,
    rgba(46, 192, 236, 1) 0%,
    rgba(18, 225, 144, 1) 100%
  ); */

.sect2 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(46, 192, 236); */
}
.sect2-left {
  position: absolute;
  align-items: right;
  display: grid;
  color: white;
  right: 5vw;
}
.sect2-left h1 {
  font-size: 150px;
}
.sect2-left h2 {
  font-size: 40px;
  color: rgb(46, 192, 236);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: -24px;
  margin-left: 5px;
}
.sect2-left div {
  font-size: 22px;
  margin-left: 5px;
}
.sect2-right {
  position: absolute;
  align-items: left;
  display: grid;
  left: 0;
  margin-left: 60px;
  color: white;
  margin-top: 400px;
  font-size: 22px;
}
.sect2-right {
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .sect2a {
  height: 40vh;
  /* background: rgb(227, 82, 231);
  background: linear-gradient(
    0deg,
    rgba(227, 82, 231, 1) 0%,
    rgba(46, 192, 236, 1) 100%
  ); */
/* } */
.sect3 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(227, 82, 231); */
}
.sect3-left {
  position: absolute;
  align-items: left;
  display: grid;
  color: white;
  left: 3vw;
}
.sect3-left h1 {
  font-size: 150px;
  margin-top: 100px;
}
.sect3-left h2 {
  font-size: 40px;
  color: rgb(227, 82, 231);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: -24px;
  margin-left: 5px;
}
.sect3-left div {
  font-size: 22px;
  margin-left: 5px;
}

.sect3-right {
  position: absolute;
  align-items: right;
  display: grid;
  right: 0;
  color: white;
  margin-top: 250px;
  font-size: 22px;
}
.sect3-right {
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .sect3a {
  height: 40vh;
  /* background: rgb(255, 157, 11);
  background: linear-gradient(
    0deg,
    rgb(255, 157, 11) 0%,
    rgba(227, 82, 231, 1) 100%
  ); */
/* } */
.sect4 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(255, 157, 11); */
}
.sect4-left {
  position: absolute;
  align-items: right;
  display: grid;
  color: white;
  right: 5vw;
}
.sect4-left h1 {
  font-size: 150px;
}
.sect4-left h2 {
  font-size: 40px;
  color: rgb(255, 157, 11);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: -24px;
  margin-left: 5px;
}
.sect4-left div {
  font-size: 22px;
  margin-left: 10px;
}

.sect4-right {
  position: absolute;
  align-items: left;
  display: grid;
  left: 0;
  margin-left: 60px;
  color: white;
  margin-top: 400px;
  font-size: 22px;
}
.sect4-right {
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .sect4a {
  height: 40vh;
  /* background: rgb(241, 226, 6);
  background: linear-gradient(
    0deg,
    rgba(241, 226, 6, 1) 0%,
    rgb(255, 157, 11) 100%
  ); */
/* } */
.sect5 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(241, 226, 6); */
}
.sect5-left {
  position: absolute;
  align-items: left;
  display: grid;
  color: white;
  left: 3vw;
}
.sect5-left h1 {
  font-size: 150px;
}
.sect5-left h2 {
  font-size: 40px;
  color: rgb(241, 226, 6);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: -24px;
  margin-left: 5px;
}
.sect5-left div {
  font-size: 22px;
  margin-left: 5px;
}

.sect5-right {
  position: absolute;
  align-items: right;
  display: grid;
  right: 0;
  color: white;
  margin-top: 400px;
  font-size: 22px;
}
.sect5-right {
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .sect5a {
  height: 40vh;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 226, 6, 1) 100%
  ); */
/* } */
.sect6 {
  height: 200vh;
  z-index: -1;
  /* background: rgb(255, 255, 255); */
}
.sect6 div {
  position: absolute;
  align-items: center;
  display: grid;
  margin-top: 135vh;
  margin-left: 50px;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.sect6 h1 {
  font-size: 200px;
}

.sect7 {
  height: 10vh;
  background: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
